{% extends "layout.html" %} 
{% block title %}Cadastrar Telefone{% endblock %} 
{% block body %}
<h3 style="margin-top: 15px"><i class="fa fa-address-book-o" aria-hidden="true"></i> Cadastrar Telefone</h3>

<form action="{{ url_for('cadastrar_telefone', contato_id=contato.id) }}" method="post" style="margin-top: 20px;">
    <input type="hidden" value="{{telefone.id}}" name="id" id="id">
    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input type="text" value="{{telefone.telefone}}" class="form-control" id="telefone" placeholder="Digite o Telefone do Contato" name="telefone" maxlength="255" required>
    </div>
    <div class="form-group">
      <label for="tipo_telefone">Tipo do Telefone</label>
      <input type="text" value="{{telefone.tipo_telefone}}" class="form-control" id="tipo_telefone" placeholder="Digite o Tipo do Telefone" name="tipo_telefone" maxlength="255" required>
    </div>
    <a href="/telefones/{{contato.id}}" class="btn btn-danger"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
    <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Cadastrar</button>
</form>

{% endblock %}