{% extends "layout.html" %} 
{% block title %}Agenda{% endblock %} 
{% block body %}
<h3 style="margin-top: 15px;"><i class="fa fa-address-book-o" aria-hidden="true"></i> Endereços de {{contato.nome}}</h3>
{% if mensagem %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{mensagem}}
    </div>
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Rua</th>
            <th scope="col">Número</th>
            <th scope="col">Cep</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for e in enderecos %}
            <tr>
                <th scope="row">{{e.id}}</td>
                <td>{{e.rua}}</td>
                <td>{{e.numero}}</td>
                <td>{{e.cep}}</td>
                <td>
                    <a href="/cadastrarendereco/{{contato.id}}/{{e.id}}" title="Editar Endereço" class="btn btn-outline-warning" style="border-radius: 50%;margin-right: 5px;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <a href="/deletarendereco/{{contato.id}}/{{e.id}}" title="Deletar Endereço" class="btn btn-outline-danger" style="border-radius: 50%;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/" class="btn btn-danger"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
<div class="container-floating">
    <a href="/cadastrarendereco/{{contato.id}}" title="Adicionar novo Endereço para {{contato.nome}}" class="floating-button"><p class="plus">+</p></a>
</div>
{% endblock %}