{% extends "layout.html" %} 
{% block title %}Agenda{% endblock %} 
{% block body %}
<div class="jumbotron" style="margin-top: 15px">
    <h1 class="display-4"><i class="fa fa-address-book-o" aria-hidden="true"></i> Seja Bem-Vindo a Agenda!</h1>
    <p class="lead">Esta é uma agenda onde você pode cadastrar os seus contatos com endereços e telefones! Aproveite os nossos serviços.</p>
    <hr class="my-4">
</div>

<h3><i class="fa fa-address-book-o" aria-hidden="true"></i> Contatos</h3>
{% if mensagem %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{mensagem}}
    </div>
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for c in contatos %}
            <tr>
                <th scope="row">{{c.id}}</td>
                <td>{{c.nome}}</td>
                <td>{{c.email}}</td>
                <td><a href="/telefones/{{c.id}}" title="Telefones" class="btn btn-outline-success" style="border-radius: 50%;margin-right: 5px;"><i class="fa fa-phone" aria-hidden="true"></i></button>
                    <a href="/enderecos/{{c.id}}" title="Endereços" class="btn btn-outline-info" style="border-radius: 50%;margin-right: 5px;"><i class="fa fa-map" aria-hidden="true"></i></button>
                    <a href="/cadastrarcontato/{{c.id}}" title="Editar Contato" class="btn btn-outline-warning" style="border-radius: 50%;margin-right: 5px;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <a href="/deletarcontato/{{c.id}}" title="Deletar Contato" class="btn btn-outline-danger" style="border-radius: 50%;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="container-floating">
    <a href="/cadastrarcontato" title="Adicionar novo contato" class="floating-button"><p class="plus">+</p></a>
</div>
{% endblock %}